* {
  font-family: "Montserrat", sans-serif;
}
.logo-name {
  font-family: "Nothing You Could Do", cursive;
  font-size: 36px;
  color: #00bd95;
}

.brand-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 800;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
  padding: 0 0.7rem;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
  font-weight: 600;
}

.nav > .nav-links > a:hover,
.nav > .nav-links > a:active {
  color: #00bd95;
}

.nav > .nav-links > a {
  position: relative;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a,
.nav > .nav-links > a:after,
.nav > .nav-links > a:before {
  transition: all 0.5s;
}
.nav > .nav-links > a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #00bd95;
  height: 1px;
}
.nav > .nav-links > a:hover:after {
  width: 100%;
}
.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #00bd95;
    transition: all 0.5s;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: inline-block;
    width: 100%;
    background-color: #171c23;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
    z-index: 1111;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .search-box {
    display: none;
  }
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #00bd95;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

#home {
  padding: 1rem;
  margin-top: 2rem;
}

.main-homepage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.wordCarousel {
  font-size: 36px;
  font-weight: 100;
  color: #eee;
  padding: 0%;
  margin: 0;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  height: 95px;
}

.wordCarousel li {
  font-family: Serif;
  color: #00bd95;
  font-weight: 700;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.flip {
  animation: flip 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@keyframes flip {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}

.cyan {
  color: rgb(0, 189, 149);
}

.name {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}
.name > p{
  margin-bottom: 15px;
}

.personal-info {
  color: #fff;
  margin-right: 10rem;

}
.personal-info p {
  line-height: 1.5rem;
}
.para {
  margin-top: 2rem;
  max-width: 40rem;
  width: 100%;
  padding: 1rem;
}

code {
  background-color: #b9b9b9;
  padding: 0.2rem;
  color: #21272f;
}

.margin {
  margin-top: 1.5rem;
}

.btn {
  margin-top: 5rem;
  padding: 0.8rem;
  border-radius: 14px;
  border: none;
  background-image: linear-gradient(55deg, #18d58e, #00bd95);
  cursor: pointer;

}
.btn a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}
.btn:hover {
  box-shadow: 0 4px 8px -2px #00ff9d;
}

.profile-figure {
  max-width: 350px;
  width: 100%;
  position: relative;
}

.profile-figure:before,
.profile-figure:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    55deg,
    #023436,
    #03b5aa,
    #037971,
    #19535f,
    #00bfb3,
    #049a8f,
    #80ded9,
    #78c6a3,
    #99e2b4,
    #036666
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.profile-figure:after {
  filter: blur(10px);
}

.profile-img {
  width: 100%;
}


@media (max-width: 1120px){
  .para {
    margin-top: 2rem;
    max-width: 90rem;
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 980px){
 .main-homepage{
  flex-direction: column;
 }
  .personal-info{
    text-align: center;
    margin: 0;
  }
  .btn{
    margin-bottom: 50px;
  }
  .para{
    margin: 10px auto;
    padding: 0;
    max-width: 100%;
    align-self: center;
    /* width: 100%; */
  }
  .profile-figure{
    margin-bottom: 50px;
  }
}

.socials-list{
  margin-top: 20px;
  /* text-align: center; */
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.social {
  margin:30px auto;
  padding:0;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px #111316 ;
  background: linear-gradient(0deg, #155750 , #18D58E );
  transition: .5s;
}

.social li a:hover {
  box-shadow: 0 2px 5px #171C23 ;
  text-decoration:none;
}

.social li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #18D58E, #155750 );
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color:  #fff  ;
  transition: .5s;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}


ul li:nth-child(3) a:hover .fab {
  color: #007bb5;
}

ul li:nth-child(4) a:hover .fab {
  color: #211f1f;
}