*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #21272f;
    font-family: "Montserrat", sans-serif;
}

.section-heading h2{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.section-heading p{
    font-size: 21px;
    font-weight: 400;
    margin: 1.5em 0;
    color: #fff;

}